/* ===== Footer ===== */

.MainFooter {
	text-align: center;
	padding-top: $base__lh;
	padding-bottom: $base__lh;
	font-size: .875rem;//14px
	@include random-from-to(35.969,$big) {
		position: relative;
	}
	@include random-min($ipad) {
		text-align: left;
	}
	@include random-min($lg) {
		padding-top: $base__lh*2;
		padding-bottom: $base__lh*2;
	}
	a.btn {
		color: #fff;
		background-color: $prime-color;
		display: block;
		margin: 0 auto;
		max-width: 238px;
		width: 100%;
	}
	.container {
		@include random-max(35.969) {
			position: relative;
		}
		@include random-min($big) {
			position: relative;
		}
	}
}
.JamiesBox {
	z-index: 900;
	position: absolute;
	bottom: ($base__lh)*2;
	right: 0;
	@include random-min(35.969) {
		bottom: ($base__lh)*4;
	}
	@include random-from-to($lg,74.696) {
		display: none;
	}
	@include random-min(74.696) {
		top: $base__lh*2;
	}
	@include random-min($big) {
		top: -($base__lh*2);
	}
}

.EmailUs{
	height: 72px;
}

.CallUsQuoin{
	font-size: 30px;
	line-height: 30px;
	padding-top: 15px;
}

p.CallUsQuoin{
 font-weight:600;
 }

.Obj-Fit {
	@include e(Jamie) {
		width: 100%;
		img {
			object-fit: cover;
			object-position: center center;
			height: $base__lh*14;
			@include random-min($big) {
				height: $base__lh*17;
			}
		}
	}
}
.FooterInnerBox {
	position: relative;
	z-index: 1000;
	max-width: 1440px;
}
.SmallInputForm {
	.input-group {
		background-color: #f1f1f1;
		margin-left: auto;
		margin-right: auto;
		max-width:88%;
		margin-bottom: $base__lh;
		@include random-min($ipad) {
			max-width:98%;
			margin-left: 0;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			font-size: 11px;
		}
		::-moz-placeholder { /* Firefox 19+ */
			font-size: 11px;
		}
		:-ms-input-placeholder { /* IE 10+ */
			font-size: 11px;
		}
		:-moz-placeholder { /* Firefox 18- */
			font-size: 11px;
		}
	}
	.input-group > input {
		background-color: transparent;
	}
	.input-group > .input-group-append > .RoundedBtn {
		min-width: fit-content;
		padding: 0;
		background-color: $prime-color;
		border-radius: 0px;
	}
	.btn {
		min-width: none;
		width: 48px;
	}
}
.CallUs {
	@include e(CTA) {
		p {
			img {
				margin-right: 6px;
			}
			color: $prime-color;
			font-size: .875rem;//14px
			font-weight: $font-weight--medium;
			margin-bottom: 0;
			line-height: $base__lh;
			text-transform: uppercase;
			@include random-from-to($ipad,$lg) {
				margin-top: $base__lh;
			}
		}
	}
	@include e(Number) {
		p {
			color: #454545;
			font-size: 30px;
			font-weight: $font-weight--bold;
			line-height: $base__lh*2;
		}
	}
}
.FooterLinkBox {
	h1 {
		color: $heading-light;
		font-size: 1.125rem;//18px
		font-weight: $font-weight--medium;
		margin-bottom: 0;
		line-height: $base__lh;
		text-align: left;
		text-transform: uppercase;
		padding-bottom: $base__lh;
	}
	a {
		font-size: .875rem;//14px
		color: $primary-grey;
		span {
			font-weight: $font-weight--sbold;
			color: $prime-color;
		}
	}
}
.MobileMapBtn {
	margin-bottom: $base__lh*4;
	@include random-from-to($ipad, $lg) {
		margin-bottom: $base__lh*2;
		a.btn {
			margin-left: 0;
		}
	}
	@include random-min($lg) {
		display: none;
	}
}
.DskMapBtn {
	margin-bottom: $base__lh*2;
	@include random-max($lg) {
		display: none;
	}
}
.FooterSocialMedia {
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: ($base__lh)-1;
	margin-bottom: $base__lh;
	li {
		padding-right: 5px;
	}
	@include random-min($big) {
		padding-bottom: ($base__lh*2)-1;
	}
}

.howitworks {
	color: $prime-color;
	font-size: 30px;
	font-weight:500;
}

.FooterLinkBox {
    padding-bottom: 25px;
}

.CopyRight {
	font-size: .75rem;//12px
	font-weight: $font-weight--light;
	text-align: center;
	color:#939393;
	@include random-min($mdm) {
		text-align: left;
	}
	p {
		margin-bottom: 0;
	}
	span {
		font-weight: $font-weight--medium;
	}
	a {
		color:#939393;
	}
}