/* ===== SFinder ===== */

.ContactFinderBlock {
    min-width: 200px;
    max-width: 320px;
    margin-right: -15px;
}

@media (max-width:1025px) and (min-width:912px) {
	.ContactFinderBlock {
    min-width: 100px;
    max-width: 155px;
    margin-right: -15px;
}
}

@media (max-width:769px) {
	.ContactFinderBlock {
    min-width: 200px;
    max-width: 720px;
    margin-right: 0px;
    width: 100%;
}

}

.SFinderSearchBlock {
	@include random-min($ipad) {
		min-width: 340px;
		max-width: 340px;
		margin-right: $base__lh;
	}
	@include random-min($lg) {
		margin-right: $base__lh*2;
	}
}

.SFinderSearch {
	@include random-max($ipad) {
		background-color: #f1f1f1;
	.gForm {
			width: 340px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.fa-2x {
	font-size: 22px;
}

ul.nav.nav-tabs.searchtabs.nav-justified {
    justify-content: center;
}

.tab-content.searchtabs {
    border: 0px;
}

.SearchButton {
	background-color: #DF6D27;
    width: 86%;
    border: 0px;
    margin-left: 21px;
    margin-right: 21px;
    height: 191px;
    margin-bottom: 50px;
}

.ContactFinder {
	font-size: 24px;
	color: #fff;
}

.Contact-Text {
	color: #fff;
    font-size: 12px;
}

.Contact-Text-Name {
	color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.Contact-Heading-text {
	color: #fff;
    margin-bottom: $base__lh*2;
    line-height: 20px;
    font-size: 18px;
}

.Contact-Title {
	color: #fff;
    margin-bottom: $base__lh*2;
    font-size: 36px;
    font-weight: 600;
}

.Contact-Text-Title {
	color: #fff;
    font-size: 14px;
}

.map-img {
	margin-left: 21px;
	margin-right: 21px;
	margin-bottom: $base__lh*2;
}

.Detailed-info {
	margin-left: 21px;
	margin-right: 21px;
		margin-bottom: $base__lh*2;
}


.SalesInfoBlock {
		padding-bottom: $base__lh*2;
}

#SearchForm {
	display: none;
}

@media (max-width: $breakpoint-desktop) {

	.SFinderSearchBlock {
		min-width: 384px;
		max-width: 384px;
		margin-right: 24px;
	}


	}

@media (max-width: $breakpoint-tablet) {

	.SFinderSearchBlock {
		min-width: 340px;
		max-width: 768px;
		margin-right: 0px;
	}

	.MyWatchList {
		display: none !important;
	}

	.fa-2x {
    font-size: 19px;
}

.SearchButton {
    background-color: #DF6D27;

    border: 0px;
    margin-left: 21px;
    margin-right: 21px;
    height: 336px;
    margin-bottom: 50px;
}

	}

	@media (max-width: $breakpoint-mobile) {

	.SFinderSearchBlock {
		min-width: 395px;
		max-width: 395px;
		margin-right: 0px;
	}

	.SearchButton {
    background-color: #DF6D27;

    border: 0px;
    margin-left: 20px;
    margin-right: 20px;
    height: 144px;
    margin-bottom: 50px;
}

	.MyWatchList {
		display: none !important;
	}

	}

	@media (max-width: $breakpoint-xs-mobile) {

	.SFinderSearchBlock {
		min-width: 295px;
		max-width: 295px;
		margin-right: 0px;
	}

	.SearchButton {
    background-color: #DF6D27;

    border: 0px;
    margin-left: 20px;
    margin-right: 20px;
    height: 144px;
    margin-bottom: 50px;
}

	.MyWatchList {
		display: none !important;
	}

	}