/* ===== GeneralPage ===== */

.GeneralPage {
	background-color: #fff;
}

@mixin GeneralListing {
	span {
		color: $prime-color;
		font-weight: $font-weight--bold;
		display: inline-block;
		margin-right: 10px;
	}
	margin-bottom: $base__lh;
}
.GeneralListing {
	@include m(LtoR) {
		@include GeneralListing;
		@include random-min($sm) {
			display: flex;
			li {
				margin-right: $base__lh;
			}
		}
	}
	@include m(TtoB) {
		@include GeneralListing;
	}
}