<!-- @include includes/head-top.html -->
<title>Mowana Online | Register Property 1 Page</title>
<!-- @include includes/head-btm.html -->

		<section class="DetailsPage">
			<!-- @include includes/nav.html -->
						<!-- @include includes/headbanner.html -->

			<div class="container" style="margin-top: 48px; margin-bottom: 48px;">
	<a href="#" class="BackLink">&lt; Back</a>
				<div class="DetailsPage__Content">



						<section>

							<div class="container">

							<div class="row">
								<div class="col-sm-12 col-md-6">

							<div class="RpGalleryBlock">

							<ul id="image-gallery" class="gallery list-unstyled cS-hidden">
								<li data-thumb="images/vdimg1--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg1--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg1--lrg.png">
										<img src="images/vdimg1--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg2--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg2--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg2--lrg.png">
										<img src="images/vdimg2--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg3--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg3--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg3--lrg.png">
										<img src="images/vdimg3--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg4--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg4--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg4--lrg.png">
										<img src="images/vdimg4--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg1--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg1--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg1--lrg.png">
										<img src="images/vdimg1--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg2--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg2--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg2--lrg.png">
										<img src="images/vdimg2--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg3--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg3--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg3--lrg.png">
										<img src="images/vdimg3--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg4--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg4--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg4--lrg.png">
										<img src="images/vdimg4--big.png" alt="Gallery image" />
									</picture>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-sm-12 col-md-6">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-4">
								<img class="card-img-top" src="images/officephoto1.png" alt="Property Description">
							</div>

							<div class="col-sm-6 col-md-6 col-lg-4">
								<img class="card-img-top" src="images/officephoto1.png" alt="Property Description">
							</div>

							<div class="col-sm-6 col-md-6 col-lg-4 primgtab">
								<img class="card-img-top" src="images/officephoto1.png" alt="Property Description">
							</div>

							<div class="col-sm-6 col-md-6 col-lg-4 primg">
								<img class="card-img-top" src="images/officephoto1.png" alt="Property Description">
							</div>

							<div class="col-sm-6 col-md-6 col-lg-4 primg">
								<img class="card-img-top" src="images/officephoto1.png" alt="Property Description">
							</div>

							<div class="col-sm-6 col-md-6 col-lg-4 primg">
								<img class="card-img-top" src="images/officephoto1.png" alt="Property Description">
							</div>
						</div>

					</div>
					</div>
				</div>
						</section><!-- Vd__GalleryBlock -->

				</div><!-- /DetailsPage__Content -->

				<div class="container">

							<div class="Place-Offer-Head">
										Register for this property
									</div>

								</div>


<section class="placeoffertwo">

        <div class="row">

        	<div class="col-sm-12 col-md-12 col-lg-6">

        			<div class="Card-Title-Message-Reg">
										Company Details
									</div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

          	<div class="row">

              <!-- Block-Row -->
          		<div class="col-sm-12">

          			<label for="inputBrand">Registered Name</label>
          			 <input
                		v-validate="'required'"
                		v-model="regname"
               			data-vv-as="Registered Name"
                		name="regname"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->
          		<div class="col-sm-12">

          			<label for="inputBrand">Trading Name</label>
          			 <input
                		v-validate="'required'"
                		v-model="tradename"
               			data-vv-as="Trading Name"
                		name="tradename"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->


                  <!-- Block-Row -->

                	<div class="col-sm-12 col-md-6">

                		<label for="inputBrand">Registration No.</label>

                		                	<input
                		v-validate="'required'"
                		v-model="regnumber"
               			data-vv-as="Registration No"
                		name="regnumber"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-6">

                		<label for="inputBrand">VAT No.</label>

                		          			 <input
                		v-validate="'required'"
                		v-model="vatno"
               			data-vv-as="VAT No"
                		name="vatno"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12">

                		<div class="row">

                	
                		<div class="col-sm-12 col-md-3">
                			<label for="inputBrand">Address</label>
                			          			<select id="inputModel" class="form-control custom-select ">
					<option selected>Str Nr</option>
					<option>...</option>
				</select>
                		</div>

                		<div class="col-sm-12 col-md-4">
<label for="inputBrand">&nbsp;</label>
                					 <input
                		v-validate="'required'"
                		v-model="streetname"
               			data-vv-as="Street Name"
                		name="streetname"
                		type="text"
                		placeholder="Street Name"
                		class="form-control input-lg placeoffer">
                		</div>

                		<div class="col-sm-12 col-md-5">
                			<label for="inputBrand">&nbsp;</label>
                					 <input
                		v-validate="'required'"
                		v-model="streetnum"
               			data-vv-as="Street Number"
                		name="streetnum"
                		type="text"
                		placeholder="Street Number"
                		class="form-control input-lg placeoffer">
                		</div>

          	<div class="col-sm-12 col-md-6">

                		                	<input
                		v-validate="'required'"
                		v-model="buildname"
               			data-vv-as="Building Name"
                		name="buildname"
                		type="text"
                		placeholder="Building Name"
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-6">

                		          			 <input
                		v-validate="'required'"
                		v-model="unitnumber"
               			data-vv-as="Unit Number"
                		name="unitnumber"
                		type="text"
                		placeholder="Unit Number"
                		class="form-control input-lg placeoffer">

                	</div>


                	
                	</div>

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->
                	<div class="col-sm-12 col-md-6">

                		<label for="inputBrand">Country</label>

                		          			<select id="inputModel" class="form-control custom-select ">
					<option selected>South Africa</option>
					<option>...</option>
				</select>

                	</div>

                	<div class="col-sm-12 col-md-6">

                		<label for="inputBrand">Province</label>

                		          			  <select id="inputModel" class="form-control custom-select ">
					<option selected>Western Cape</option>
					<option>...</option>
				</select>

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->

                  <div class="col-sm-12 col-md-6">

                		<label for="inputBrand">City</label>

                		                	<input
                		v-validate="'required'"
                		v-model="city"
               			data-vv-as="City"
                		name="city"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-6">

                		<label for="inputBrand">Postal Code</label>

                		          			 <input
                		v-validate="'required'"
                		v-model="postalcode"
               			data-vv-as="Postal Code"
                		name="postalcode"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                		
                  <!-- /Block-Row -->

						</div>

					</div>

				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">

        			<div class="Card-Title-Message-Reg">
										Account Details
									</div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

          	<div class="row">

              <!-- Block-Row -->
          		<div class="col-sm-12">

          			<div class="checkboxlist">

          			<label for="inputBrand">Please select an option below:</label>

          			 <div class="pretty p-default p-curve">
				        <input type="checkbox" />
				        <div class="state p-warning-o">
				            <label>I’m a Broker</label>
				        </div>
				    </div>

				    <div class="pretty p-default p-curve">
				        <input type="checkbox" />
				        <div class="state p-warning-o">
				            <label>I’m a Investor</label>
				        </div>
				    </div>

				</div>

          			<label for="inputBrand">Fidelity Fund Certification Number*</label>
          			 <input
                		v-validate="'required'"
                		v-model="brokerrep"
               			data-vv-as="Broker Representative"
                		name="brokerrep"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->

                	<div class="col-sm-12">

                		<div class="row">

          			<div class="col-sm-12 col-md-6">

          				  <div class="pretty p-default p-curve">
				        <input type="checkbox" />
				        <div class="state p-warning-o">
				            <label>Agree to Co-operation Agreement</label>
				        </div>
				    </div>

          			</div>

          			<div class="col-sm-12 col-md-6">

          				<div class="pretty p-default p-curve">
          				<a href="#">Download Co-operation Agreement</a>
          			</div>

          			</div>

          		</div>

                	</div>
                  <!-- /Block-Row -->

                   	<div class="col-sm-12" style="margin-top: 24px">

                		<div class="row">

                			<div class="col-sm-12 col-md-6">

                					<label for="inputBrand">Buyer you Represent</label>
          			 <input
                		v-validate="'required'"
                		v-model="brokerrep"
               			data-vv-as="Broker Representative"
                		name="brokerrep"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

    

                			<div class="col-sm-12 col-md-6">

                					<label for="inputBrand">Full Name</label>
          			 <input
                		v-validate="'required'"
                		v-model="brokerrep"
               			data-vv-as="Broker Representative"
                		name="brokerrep"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

        

                			<div class="col-sm-12 col-md-6">

                					<label for="inputBrand">Telephone</label>
          			 <input
                		v-validate="'required'"
                		v-model="brokerrep"
               			data-vv-as="Broker Representative"
                		name="brokerrep"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

         

                			<div class="col-sm-12 col-md-6">

                					<label for="inputBrand">Email</label>
          			 <input
                		v-validate="'required'"
                		v-model="brokerrep"
               			data-vv-as="Broker Representative"
                		name="brokerrep"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

        

                		</div>

                	</div>


                	<div class="col-sm-12" style="margin-bottom: 24px">


                		                                 <button
                  :disabled="status==='submitting'"
                  class="btn plus-btn"
                  @click="send"><i class="fas fax-plus fa-plus"></i></button><label for="inputBrand" class="plustext">Add another</label>
                		


                	</div>

        			<div class="Card-Title-Message-Reg deposit">
										Register
									</div><!-- /Card-Title -->

                  <!-- Block-Row -->

          <div class="col-sm-12 ODgForm new1">

          	 <div class="pretty p-default p-curve">
				        <input type="checkbox" />
				        <div class="state p-warning-o">
				            <label>Agree to Online Sale Process</label>
				        </div>
				    </div>

				    <div class="pretty p-default p-curve">
				        <input type="checkbox" />
				        <div class="state p-warning-o">
				            <label>Agree to NDA</label>
				        </div>
				    </div>

				    				    <div class="pretty p-default p-curve">
				        <input type="checkbox" />
				        <div class="state p-warning-o">
				            <label>Agree to Sale Agreement</label>
				        </div>
				    </div>


                                            <button
                  :disabled="status==='submitting'"
                  class="btn btn-primary Registerbtn"
                  @click="send">REGISTER</button> 
            
          </div>
          <!-- /Block-Row -->

						</div>
					</div>

				</div>
            
          </div>
         <!-- end col -->  

</section>

			</div><!-- /container -->


		</section><!-- /DetailsPage -->

			<section id="RecentlyAddedProp">
				<div class="RecentlyAdded FindResultOutput">
					<div class="container">
							<div class="row">
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
							</div>
						</div>
					</div>
					</section>


		<!-- @include includes/infobar.html -->
		<!-- @include includes/footer.html -->
		<!-- @include includes/scripts.html -->

		<script src="js/lightslider.min.js"></script>

				<script type="text/javascript">
$(document).ready(function(){
  $('#search').click(function(){
     $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#SearchButton').click(function(){
     $('#SearchForm').fadeToggle(350);
     $('#SearchButton').fadeToggle(0); 
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#closesearch').click(function(){
    $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

		<script>
			$(document).ready(function(){
				console.log('lock & load');
				$('.nav-item').removeClass('active');
				$('.nav-item--Home').addClass('active');
				$( ".active > a " ).append( '<span class="sr-only"> (current)</span>' );

				function reload_bsCollapse() {
					if($(window).width() <= 767) {
						$("#h1Toggler").attr({
							'data-toggle': 'collapse',
							'data-target': '#openRefineSearch'
						});
					} else {
						$("#h1Toggler").removeAttr('data-toggle data-target');
						$("#openRefineSearch").addClass('show');
					}
				}

				$(".DetailsAddToMyWatchlist").click(function(){
					$(this).toggleClass("DetailsAddedToWatchlist");
				});

				reload_bsCollapse();

				$(window).on("resize", function () {
					reload_bsCollapse();
				});

				var slider = $('#image-gallery').lightSlider({
					pauseOnHover: true,
					adaptiveHeight: true,
					gallery:false,
					item:1,
					pager:false,
					thumbItem:0,
					slideMargin: 6,
					speed:500,
					pause: 5000,
					auto:true,
					loop:true,
					thumbMargin:0,
					responsive : [
					{
						breakpoint:1439,
						settings: {
							thumbItem:6,
						}
					},
					{
						breakpoint:991,
						settings: {
							thumbItem:4
						}
					}
					],
					onSliderLoad: function() {
						$('#image-gallery').removeClass('cS-hidden');
					}
				});

				$(window).on("resize", function () {
					slider.refresh();
				});

			});
		</script>
	</body>
</html>