/* ===== HomePage ===== */


.header_bottom {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #31383ede;
    color: #ffffff;
}

.HeaderBox {
	background-image: url(../images/quoin-header-bg.png);
	width: 100%;
	height: 936px;
	background-repeat: no-repeat;
	background-position: center center;
}

#HowItWorksSectionToLet {
	display:none;
}

.hiwbtntl.btnactivetl{
	background-color: #373236;
	color:#fff;
	border: 1px solid #373236;
    border-radius: 0;
}

.hiwbtn.btnactivefs{
	background-color: #373236;
	color:#fff;
	border: 1px solid #373236;
    border-radius: 0;
}

.hiwbtn {
	border: 1px solid #373236;
	border-radius: 0;
	color:#31383E;
	background-color: #fff;
}

.hiwbtntl {
	border: 1px solid #373236;
	border-radius: 0;
	color:#31383E;
	background-color: #fff;
}

.howitworksblock {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 65px;
}

.howitworksblocktl{
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 65px;
	text-align: right;
}

.headermainheading{
font-size: 100px;
line-height: 100px;
font-family: 'Playfair Display', serif;
padding-bottom: 25px;
color: $prime-color;
}

.howitworkstext{
	color: #ffffff;
	width: 530px;
	font-size: 18px;
}

.howitworkstexttl{
	color: #ffffff;
	padding-left: 95px;
}

.howitworksheading {
	color: #ffffff;
	font-size: 48px;
	line-height: 48px;
	font-family: 'Roboto', serif !important;
	text-transform: uppercase;

}

.howitworkssubheading {
	color:$prime-color;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;

}

.quoinbutton {
	background-color: $prime-color;
	color:#ffffff;
	border: 0px;
	width: 192px;
	height: 60px;
	font-size: 18px;
}

.howitworksimage {
	background-image: url(../images/howitworksimage.png);
	width: 100%;
	height: 696px;
	background-repeat: no-repeat;
	background-position: center center;

}

.howitworksimagetl {
	background-image: url(../images/howitworksimage.png);
	width: 100%;
	height: 696px;
	background-repeat: no-repeat;
	background-position: center center;

}

.SearchIcon {
	background-color: $prime-color;
	width:192px;
	height: 432px;
	border: 0px;
	float: right;
}

#WelcomeSection{
	padding-top:  25px;
	padding-bottom: 25px;
}

#FeaturedSection{
	padding-top:  25px;
	padding-bottom: 25px;
}

.col-mt-1{
	margin-top: 15px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.headermaintext {
	font-size: 36px;
	line-height: 36px;
	padding-bottom: 20px;
}

.WelcomeText {
		font-size: 60px;
	line-height: 60px;
	padding-bottom: 20px;
	padding-top: 35px;
	font-family: 'Roboto', serif !important;
	padding-left: 15px;
	padding-right: 15px;
	color: #762D16;
}

.HeaderMain {
	margin-top: auto;
	margin-bottom: auto;
	background-color: #3732367d;
	width: 1200px;
}

			.howitworksimageMobile {
display: none;

}

@media (max-width: $breakpoint-desktop) {
	.howitworkstexttl{
	color: #ffffff;
	padding-left: 165px;
	font-size: 18px;
}
}

@media (max-width: $breakpoint-desktoplg) {
	.howitworkstexttl{
	color: #ffffff;
	padding-left: 165px;
}
}

@media (max-width: $breakpoint-laptop) {

				.howitworksimageMobile {
display: none;

}

	.howitworkstexttl{
	color: #ffffff;
	padding-left: 65px;
}

.howitworksblocktl{
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 35px;
	text-align: right;
}

.howitworkstext{
	color: #ffffff;
	width: 400px;
}

.howitworksblock {
	padding-left: 35px;
	padding-right: 35px;
}
	}

	@media (max-width: $breakpoint-tablet) {

			.howitworksimageMobile {
display: none;

}

	.howitworkstexttl{
	color: #ffffff;
	padding-left: 35px;
}

.howitworkstext{
	color: #ffffff;
	width: 300px;
}

.howitworksblock {
	padding-left: 35px;
		padding-right: 35px;
}

.HeaderBox {
	background-image: url(../images/quoin-header-bg.png);
	width: 100%;
	height: 720px;
	background-repeat: no-repeat;
	background-position: center center;
}

	}

@media (max-width: $breakpoint-mobile) {

	.howitworksimagetl {
	display: none;

}

	.howitworksimageMobile {
	background-image: url(../images/howitworksimagemobile.png);
	width: 100%;
	height: 435px;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;

}

	.howitworksblocktl {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 35px;
}

	.howitworkstexttl{
	color: #ffffff;
	padding-left: 15px;
}

	.howitworksimage {
	background-image: url(../images/howitworksimagemobile.png);
	width: 100%;
	height: 435px;
	background-repeat: no-repeat;
	background-position: center center;

}

.howitworkstext{
	color: #ffffff;
	width: 100%;
}

.howitworksblock {
	padding: 35px;
	text-align: center;
}

.HeaderBox {
	background-image: url(../images/quoin-header-bg.png);
	width: 100%;
	height: 572px;
	background-repeat: no-repeat;
	background-position: center center;
}

	.headermainheading{
font-size: 55px;
line-height: 55px;
}

.headermaintext {
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 20px;
}

	}

.IntroBox {
	text-align: center;
	@include random-min($ipad) {
		text-align: left;
		padding-top: $base__lh;
		padding-bottom: $base__lh;
	}
	@include random-min($big) {
		padding-top: $base__lh*4;
	}
	.container {
		padding: 0;
	}
	h1 {
		font-size: 45px;
		font-weight: $font-weight--light;
		color: $prime-color;
		line-height: $base__lh*2;
		margin-bottom: 8px;
		span {
			display: block;
			font-size: 1.125rem;//18px
			line-height: $base__lh;
		}
	}
	h2 {
		font-size: 31px;
		font-weight: $font-weight--xlight;
		color: $heading-dark;
		line-height: 37px;
		margin-bottom: 33px;
		span {
			display: block;
			color: $prime-color;
		}
		@include random-min(22.656) {
			margin-bottom: 22px;
		}
		@include random-min($lg) {
			font-size: 54px;
			line-height: 66px;
			margin-bottom: 10px;
		}
		@include random-min($big) {
			font-size: 61px;
			line-height: 75px;
			margin-bottom: 7px;
		}
	}
}
.CTaText {
	@include random-min($ipad) {
		max-width:430px;
	}
	@include random-min($lg) {
		padding-top: $base__lh*2;
	}
	@include random-min($big) {
		padding-top: $base__lh*3;
	}
	a.btn {
		color: white;
		margin-right: $base__lh/2;
		@include random-max($ipad) {
			display: block;
			max-width: 238px;
			margin-left: auto;
			margin-right: auto;
			margin-top: $base__lh/2;
			margin-bottom: $base__lh/2;
		}
	}
}
.Obj-Fit {
	@include e(HeroCTA) {
		width: 100%;
		img {
			object-fit: contain;
			object-position: top center;
			height: $base__lh*10;
			@include random-min($lg) {
				height: $base__lh*18;
			}
			@include random-min($big) {
				height: $base__lh*21;
			}
		}
	}
}

@media (max-width: 769px) and (min-width: 426px) {


	.HeaderMain {
    padding-top: 24px;
    padding-bottom: 24px;
}

.HomeHead {
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    text-align: center !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 24px;
}

    .SearchIcon {
    background-color: #DF6D27;
    width: 192px;
    height: 192px;
    border: 0px;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.HeaderMain {
	margin-top: auto;
	margin-bottom: auto;
	background-color: #3732367d;
	width: auto !important;
}

}

@media (max-width: 425px) and (min-width: 319px) {

.HeaderMain {
	margin-top: auto;
	margin-bottom: auto;
	background-color: #3732367d;
	width: auto !important;
}

.HomeHead {

    font-size: 35px !important;
    line-height: 35px !important;
        text-align: center !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 24px;

}

    .SearchIcon {
    background-color: #DF6D27;
    width: 192px;
    height: 192px;
    border: 0px;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}
}
