/* ===== Info Bar ===== */

.bg_shadow {
	box-shadow: 0px 3px 20px -13px rgba(0, 0, 0, 0.55);
}

.WelcomeText2 {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 20px;
    padding-top: 35px;
    font-family: 'Roboto', serif;
    padding-left: 15px;
    padding-right: 15px;
    color: #4F555A;
    text-transform: uppercase;
}

.InfoBar {
	background-color: #212121;
	color: white;
	padding-top: $base__lh;
	@include random-max(35.969) {
		padding-bottom: $base__lh;
	}
	@include random-min(65) {
		padding-top: $base__lh*2;
		padding-bottom: $base__lh;
	}
	.col-xs-12 {
		@include random-min($lg) {
			padding-right: 0;
		}
		@include random-max($mdm) {
			display: flex;
			justify-content: space-around;
		}
	}
	@include e(Box) {
		border-bottom: 2px solid #4e4e4e;
		display: flex;
		margin-bottom: $base__lh;
		padding-right: $base__lh;
		@include random-min(35.969) {
			border-bottom: none
		}
		@include random-min(35.969) {
			border-right: 2px solid #4e4e4e;
		}
	}
	@include random-max(35.969) {
		.row > .col-xs-12:last-of-type > .InfoBar__Box{
			border-bottom: none;
			margin-bottom: 2px;
		}
	}
	@include random-from-to(35.969, $lg) {
		.row > .col-xs-12:nth-child(even) > .InfoBar__Box {
			border-right: none;
		}
	}
	@include random-min($lg) {
		.row > .col-xs-12:nth-child(n+4) > .InfoBar__Box {
			border-right: none;
		}
	}
	@include e(Amount) {
		font-size: 30px;
		font-weight: $font-weight--sbold;
		line-height: $base__lh*2;
		margin-bottom: 0;
	}
	@include e(Text) {
		font-size: 14px;
		font-weight: $font-weight--light;
		margin-bottom: 0;
		@include random-max(35.969) {
			margin-bottom: ($base__lh)-2;
		}
	}
}

