/* ===== Place Offer ===== */

.placeoffertwo label {
    font-weight:500;
}

.Place-Offer-Head {
    font-family: Roboto;
    font-size: 48px;
    margin-left: -15px;
    margin-bottom: 45px;
    text-transform: uppercase;
}

.POgForm {
	padding-top: 35px;
	padding-bottom: 50px;
}

.POgForm select {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #E0E0E0;
    padding-left: 24px;
    padding-right: 0;
    width: 90%;
    background-color: #fff;
    margin-left: 65px;
}

.ODgForm select {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #E0E0E0;
    padding-left: 24px;
    padding-right: 0;
    width: 85%;
    background-color: #fff;
    margin-left: 40px;
}

.ODgForm {
	padding-top: 35px;
	padding-bottom: 50px;
}

input#datepicker {
    background-color: #fff;
    border-radius: 0;
}

.DateForm {
    padding-top: 40px;
    padding-bottom: 17px;
}

.ExtraForm {
    padding-top: 35px;
    padding-bottom: 50px;
}

.YDgForm {
	padding-top: 35px;
}

.Submitbtn {
    border-radius: 0;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

button.btn.btn-primary.PObtn {
    border-radius: 0;
    margin-top: 0px;
}

.deposit {
    margin-top: 10px;
}

.deposittext {
    margin-bottom: 40px;
}

.YDgForm select {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #E0E0E0;
    padding-left: 24px;
    padding-right: 0;
    background-color: #fff;
        margin-bottom: 25px;
}

.placeoffer {
    border: 1px solid #E0E0E0;
    background-color: #fff;
    margin-bottom: 25px;
}

textarea.form-control.input-lg.placeoffer {
    height: 120px;
}

@media (max-width: $breakpoint-desktop) {

        .ODgForm select {
    width: 89%;
    margin-left: 15px;
        margin-bottom: 0px;
}

    }


@media (max-width: $breakpoint-laptop) {

    label {
    font-size: 12px;
}

.deposittext {
    margin-bottom: 30px;
    font-size: 12px;
}

	.POgForm select {
    margin-left: 30px;
}

    .ODgForm select {
    width: 85%;
    margin-left: 15px;
        margin-bottom: 0px;
}

}


@media (max-width: $breakpoint-tablet) {

     label {
    font-size: 16px;
}

       .ODgForm select {
    width: 90%;
    margin-left: 15px;
        margin-bottom: 0px;
}

		.POgForm select {
    margin-left: 8px;
}

    .ODgForm select {
        margin-bottom: 0px;
}

}


@media (max-width: $breakpoint-mobile) {

.Card-Title-Message-Reg {
    font-size: 20px;
    color: $prime-color;
    padding-bottom: 10px;
    padding-left: 5px;
}

	button.btn.btn-primary.PObtn {
    border-radius: 0;

}

    .ODgForm select {
    width: 77%;
    margin-left: 15px;
        margin-bottom: 0px;
}


		.POgForm select {
    margin-left: 0px;
    width: 80%;
}

}

@media (max-width: $breakpoint-xs-mobile) {

    .ODgForm select {
    width: 75%;
    margin-left: 5px;
        margin-bottom: 0px;
}

.POgForm select {
    margin-left: 5px;
    width: 75%;
}
}
