<!-- @include includes/head-top.html -->
<title>Mowana Online | Place Offer Page 1</title>
<!-- @include includes/head-btm.html -->

		<section class="DetailsPage">
			<!-- @include includes/nav.html -->
						<!-- @include includes/headbanner.html -->

			<div class="container" style="margin-top: 48px; margin-bottom: 48px;">
	<a href="#" class="BackLink">&lt; Back</a>

				<div class="DetailsPage__Content">
						<div class="container">

							<div class="Place-Offer-Head">
										Offer Details
									</div>


<section>

        <div class="row">

        	<div class="col-sm-12 col-md-12 col-lg-6">

        			<div class="Card-Title-Message-Reg">
										Rental
									</div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1 placeoffertwo">

          	<div class="row">

              <!-- Block-Row -->
          		<div class="col-sm-12">

          			<label for="inputBrand">Gross Rental per m2</label>
          			 <input
                		v-validate="'required'"
                		v-model="grossrental"
               			data-vv-as="Gross Rental"
                		name="grossrental"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->


                  <!-- Block-Row -->

                	<div class="col-sm-12 col-md-4">

                		<label for="inputBrand">Net Rental per m2</label>

                		                	<input
                		v-validate="'required'"
                		v-model="netrental"
               			data-vv-as="Net Rental"
                		name="netrental"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-4">

                		<label for="inputBrand">GLA</label>

                		          			 <input
                		v-validate="'required'"
                		v-model="gla"
               			data-vv-as="GLA"
                		name="gla"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-4">

                		<label for="inputBrand">Escalation %</label>

                		          			 <input
                		v-validate="'required'"
                		v-model="escalation"
               			data-vv-as="Escalation"
                		name="escalation"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->
                	<div class="col-sm-12 col-md-8">

                		<label for="inputBrand">Ops Cost per m2</label>

                		          			 <input
                		v-validate="'required'"
                		v-model="opscost"
               			data-vv-as="Ops Cost"
                		name="opscost"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-4">

                		<label for="inputBrand">Escalation %</label>

                		          			  <input
                		v-validate="'required'"
                		v-model="escalation"
               			data-vv-as="Escalation"
                		name="escalation"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->

                		<div class="col-sm-12 col-md-4">

                		<label for="inputBrand">Balcony Rate per m2</label>

                		                	<input
                		v-validate="'required'"
                		v-model="balcony"
               			data-vv-as="Balcony"
                		name="balcony"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-4">

                		<label for="inputBrand">GLA</label>

                		          			 <input
                		v-validate="'required'"
                		v-model="gla"
               			data-vv-as="GLA"
                		name="gla"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-md-4">

                		<label for="inputBrand">Escalation %</label>

                		          			 <input
                		v-validate="'required'"
                		v-model="escalation"
               			data-vv-as="Escalation"
                		name="escalation"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->

                	<div class="col-sm-12">

          			<label for="inputBrand">Rates</label>
          			 <input
                		v-validate="'required'"
                		v-model="rates"
               			data-vv-as="Rates"
                		name="rates"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

						</div>

					</div>

				</div>

				<div class="col-sm-12 col-md-12 col-lg-6 placeoffertwo">

        			<div class="Card-Title-Message-Reg">
										Tenant Installation
									</div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

          	<div class="row">

              <!-- Block-Row -->
          		<div class="col-sm-12">

          			<label for="inputBrand">Rate per m2</label>
          			 <input
                		v-validate="'required'"
                		v-model="rateper"
               			data-vv-as="Rate Per"
                		name="rateper"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

                  <!-- Block-Row -->

                	<div class="col-sm-12">

          			<label for="inputBrand">Total</label>
          			 <input
                		v-validate="'required'"
                		v-model="total"
               			data-vv-as="Total"
                		name="total"
                		type="text"
                		placeholder=""
                		class="form-control input-lg placeoffer">

                	</div>
                  <!-- /Block-Row -->

        			<div class="Card-Title-Message-Reg deposit">
										Deposit
									</div><!-- /Card-Title -->

                  <!-- Block-Row -->

          <div class="col-sm-12 ODgForm new1">

          	<p class="deposittext">
          		<strong>Deposit:</strong> The standard requirement is 3 times the last month’s Total Rental Subject to credit check results.
          	</p>

            <label for="inputBrand">Type:</label>
				<select id="inputModel" class="form-control custom-select ">
					<option selected>Deposit</option>
					<option>...</option>
				</select>
            
          </div>
          <!-- /Block-Row -->

						</div>

					</div>

				</div>
            
          </div>
         <!-- end col -->  

</section>

<section>

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-6 placeoffertwo">

              <div class="Card-Title-Message-Reg">
                    Parking
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

            <div class="row">

                  <div class="col-sm-12 col-md-8">

                    <label for="inputBrand">Basement Bays Required</label>

                                     <input
                    v-validate="'required'"
                    v-model="basebay"
                    data-vv-as="Basement Bays"
                    name="basebay"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-4">

                    <label for="inputBrand">Rate</label>

                                      <input
                    v-validate="'required'"
                    v-model="baserate"
                    data-vv-as="Basement Rate"
                    name="baserate"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-8">

                    <label for="inputBrand">Covered Bays Required</label>

                                     <input
                    v-validate="'required'"
                    v-model="coverbay"
                    data-vv-as="Covered Bays"
                    name="coverbay"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-4">

                    <label for="inputBrand">Rate</label>

                                      <input
                    v-validate="'required'"
                    v-model="baserate"
                    data-vv-as="Basement Rate"
                    name="baserate"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-8">

                    <label for="inputBrand">Open Bays Required</label>

                                     <input
                    v-validate="'required'"
                    v-model="openbay"
                    data-vv-as="Open Bays"
                    name="openbay"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-4">

                    <label for="inputBrand">Rate</label>

                                      <input
                    v-validate="'required'"
                    v-model="baserate"
                    data-vv-as="Basement Rate"
                    name="baserate"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-8">

                    <label for="inputBrand">Tandem Bays Required</label>

                                     <input
                    v-validate="'required'"
                    v-model="tandembay"
                    data-vv-as="Tandem Bays"
                    name="tandembay"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-4">

                    <label for="inputBrand">Rate</label>

                                      <input
                    v-validate="'required'"
                    v-model="baserate"
                    data-vv-as="Basement Rate"
                    name="baserate"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-8">

                    <label for="inputBrand">Shadecloth Bays Required</label>

                                     <input
                    v-validate="'required'"
                    v-model="shadebay"
                    data-vv-as="Shadecloth Bays"
                    name="shadebay"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-4">

                    <label for="inputBrand">Rate</label>

                                      <input
                    v-validate="'required'"
                    v-model="baserate"
                    data-vv-as="Basement Rate"
                    name="baserate"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

            </div>

          </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 placeoffertwo">

              <div class="Card-Title-Message-Reg">
                    Store Rooms
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

            <div class="row">
              <div class="col-sm-12 col-md-8">

                    <label for="inputBrand">Size (m2)</label>

                                     <input
                    v-validate="'required'"
                    v-model="size"
                    data-vv-as="Size"
                    name="size"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12 col-md-4">

                    <label for="inputBrand">Rate/m2</label>

                                      <input
                    v-validate="'required'"
                    v-model="ratem2"
                    data-vv-as="Rate m2"
                    name="ratem2"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

              <div class="Card-Title-Message-Reg deposit">
                    Dates
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 DateForm new1">

            <div class="row">

                        <div class="col-sm-12 col-md-6">

                    <label for="inputBrand">Lease Period</label>

                            <select id="inputModel" class="form-control custom-select ">
          <option selected>36</option>
          <option>...</option>
        </select>

                  </div>

                  <div class="col-sm-12 col-md-6">

                    <label for="inputBrand">Rental Commence Date</label>

                 
    <input type="text" id="datepicker" class="form-control custom-select ">
  
</div>

                  </div>

                </div>
            
          </div>

                        <div class="Card-Title-Message-Reg deposit">
                    Extra
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 ExtraForm new1">

            <div class="row">

                        <div class="col-sm-12">

                                     <input
                    v-validate="'required'"
                    v-model="note"
                    data-vv-as="Note"
                    name="not"
                    type="text"
                    placeholder="Notes"
                    class="form-control input-lg placeoffer">

                  </div>
                </div>
            
          </div>

            </div>

        </div>
            
          </div>
         <!-- end col -->  

</section>

<section class="placeoffertwo">

        <div class="row">

          <div class="col-sm-12">

              <div class="Card-Title-Message-Reg">
                    Special Conditions
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

            <div class="row">

                  <div class="col-sm-12">

                                     <textarea
                    v-validate="'required'"
                    v-model="specialconditions"
                    data-vv-as="Special Conditions"
                    name="specialconditions"
                    type="text"
                    placeholder="Test Offer"
                    class="form-control input-lg placeoffer"></textarea>

                  </div

            </div>

          </div>

        </div>
            
          </div>
         <!-- end col -->  

</section>

<section>

        <div class="row">

          <div class="col-sm-12 placeoffertwo">

              <div class="Card-Title-Message-Reg">
                    Additional Info
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

            <div class="row">

                  <div class="col-sm-12">

                    <label for="inputBrand">Use of Premises</label>

                                     <textarea
                    v-validate="'required'"
                    v-model="additionalinfo"
                    data-vv-as="Additional Info"
                    name="additionalinfo"
                    type="text"
                    placeholder="Administrative Office"
                    class="form-control input-lg placeoffer"></textarea>

                  </div

            </div>

          </div>

        </div>
            
          </div>
         <!-- end col -->  

</section>

<section>

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-6 placeoffertwo">

              <div class="Card-Title-Message-Reg">
                    Proxy Details - FICA/Credit Check
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

            <div class="row">

                  <div class="col-sm-12">

                    <label for="inputBrand">First Name</label>

                                     <input
                    v-validate="'required'"
                    v-model="fname"
                    data-vv-as="First Name"
                    name="fname"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Lastname</label>

                                     <input
                    v-validate="'required'"
                    v-model="lname"
                    data-vv-as="Lastname"
                    name="lname"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">ID Number</label>

                                      <input
                    v-validate="'required'"
                    v-model="idnumber"
                    data-vv-as="ID Number"
                    name="idnumber"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Designation</label>

                                     <input
                    v-validate="'required'"
                    v-model="designation"
                    data-vv-as="Designation"
                    name="designation"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Phone Number</label>

                                      <input
                    v-validate="'required'"
                    v-model="phonenumber"
                    data-vv-as="Phone Number"
                    name="phonenumber"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Email</label>

                                     <input
                    v-validate="'required'"
                    v-model="email"
                    data-vv-as="Email"
                    name="email"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

            </div>

          </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 placeoffertwo">

              <div class="Card-Title-Message-Reg">
                    Proxy Details - Authorised Signatory
                  </div><!-- /Card-Title -->

          <div class="col-sm-12 YDgForm new1">

            <div class="row">

               <div class="col-sm-12">

                    <label for="inputBrand">First Name</label>

                                     <input
                    v-validate="'required'"
                    v-model="fname"
                    data-vv-as="First Name"
                    name="fname"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Lastname</label>

                                     <input
                    v-validate="'required'"
                    v-model="lname"
                    data-vv-as="Lastname"
                    name="lname"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">ID Number</label>

                                      <input
                    v-validate="'required'"
                    v-model="idnumber"
                    data-vv-as="ID Number"
                    name="idnumber"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Designation</label>

                                     <input
                    v-validate="'required'"
                    v-model="designation"
                    data-vv-as="Designation"
                    name="designation"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Phone Number</label>

                                      <input
                    v-validate="'required'"
                    v-model="phonenumber"
                    data-vv-as="Phone Number"
                    name="phonenumber"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>

                  <div class="col-sm-12">

                    <label for="inputBrand">Email</label>

                                     <input
                    v-validate="'required'"
                    v-model="email"
                    data-vv-as="Email"
                    name="email"
                    type="text"
                    placeholder=""
                    class="form-control input-lg placeoffer">

                  </div>
             

            </div>

        </div>
            
          </div>
         <!-- end col --> 


                                            <button
                  :disabled="status==='submitting'"
                  class="btn btn-primary Submitbtn"
                  @click="send">Place Offer</button> 

</section>


</div>
				</div><!-- /DetailsPage__Content -->



			</div><!-- /container -->
		</section><!-- /DetailsPage -->

			<section id="RecentlyAddedProp">
				<div class="RecentlyAdded FindResultOutput">
					<div class="container">
							<div class="row">
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
							</div>
						</div>
					</div>
					</section>


		<!-- @include includes/infobar.html -->
		<!-- @include includes/footer.html -->
		<!-- @include includes/scripts.html -->

		<script src="js/lightslider.min.js"></script>

				<script type="text/javascript">
$(document).ready(function(){
  $('#search').click(function(){
     $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#SearchButton').click(function(){
     $('#SearchForm').fadeToggle(350);
     $('#SearchButton').fadeToggle(0); 
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#closesearch').click(function(){
    $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
    $( "#datepicker" ).datepicker();
  });
</script>

		<script>
			$(document).ready(function(){
				console.log('lock & load');
				$('.nav-item').removeClass('active');
				$('.nav-item--Home').addClass('active');
				$( ".active > a " ).append( '<span class="sr-only"> (current)</span>' );

				function reload_bsCollapse() {
					if($(window).width() <= 767) {
						$("#h1Toggler").attr({
							'data-toggle': 'collapse',
							'data-target': '#openRefineSearch'
						});
					} else {
						$("#h1Toggler").removeAttr('data-toggle data-target');
						$("#openRefineSearch").addClass('show');
					}
				}

				$(".DetailsAddToMyWatchlist").click(function(){
					$(this).toggleClass("DetailsAddedToWatchlist");
				});

				reload_bsCollapse();

				$(window).on("resize", function () {
					reload_bsCollapse();
				});

				var slider = $('#image-gallery').lightSlider({
					pauseOnHover: true,
					adaptiveHeight: true,
					gallery:true,
					item:1,
					thumbItem:4,
					slideMargin: 4,
					speed:500,
					pause: 5000,
					auto:true,
					loop:true,
					thumbMargin:4,
					responsive : [
					{
						breakpoint:1439,
						settings: {
							thumbItem:6,
						}
					},
					{
						breakpoint:991,
						settings: {
							thumbItem:4
						}
					}
					],
					onSliderLoad: function() {
						$('#image-gallery').removeClass('cS-hidden');
					}
				});

				$(window).on("resize", function () {
					slider.refresh();
				});

			});
		</script>
	</body>
</html>