<!-- @include includes/head-top.html -->
<title>Mowana Online | Place Offer Page 1</title>
<!-- @include includes/head-btm.html -->

		<section class="DetailsPage">
			<!-- @include includes/nav.html -->
						<!-- @include includes/headbanner.html -->

			<div class="container" style="margin-top: 48px; margin-bottom: 48px;">
	<a href="#" class="BackLink">&lt; Back</a>

				<div class="DetailsPage__Content">
						<div class="container">

							<div class="Place-Offer-Head">
										Place offer
									</div>

<section>

        <div class="row">

        			<div class="Card-Title-Message-Reg">
										Tenant or Buyer Details
									</div><!-- /Card-Title -->

          <div class="col-sm-12 POgForm new1">

            <label for="inputBrand">Tenant:</label>
				<select id="inputModel" class="form-control custom-select ">
					<option selected>Please select Tenant</option>
					<option>...</option>
				</select>
            
          </div>
          <!-- end col -->
</div>

</section>


<section>

        <div class="row">

    

          <div class="col-sm-12 ">



          	<div class="row">
          		<div class="col-sm-12 col-md-6">

          			        			<div class="Card-Title-Message-Reg">
										Your Details
									</div><!-- /Card-Title -->

									<div class="YDgForm new1"></div>

          			 <input
                		v-validate="'required'"
                		v-model="name"
               			data-vv-as="Name"
                		name="name"
                		type="text"
                		placeholder="First Name"
                		class="form-control input-lg placeoffer">

                		                	<input
                		v-validate="'required'"
                		v-model="surname"
               			data-vv-as="Surname"
                		name="surname"
                		type="text"
                		placeholder="Last Name"
                		class="form-control input-lg placeoffer">

                		          			 <input
                		v-validate="'required'"
                		v-model="cellphone"
               			data-vv-as="Cellphone"
                		name="cellphone"
                		type="text"
                		placeholder="Cellphone No"
                		class="form-control input-lg placeoffer">

                		          			 <input
                		v-validate="'required'"
                		v-model="telephone"
               			data-vv-as="Telephone"
                		name="telephone"
                		type="text"
                		placeholder="Telephone No"
                		class="form-control input-lg placeoffer"> 

						</div>

						<div class="col-sm-12 col-md-6">

							        			<div class="Card-Title-Message-Reg">
										Company Details
									</div><!-- /Card-Title -->

									<div class="YDgForm new1"></div>

									 <input
                		v-validate="'required'"
                		v-model="registeredname"
               			data-vv-as="Registered Name"
                		name="registeredname"
                		type="text"
                		placeholder="Registered Name"
                		class="form-control input-lg placeoffer">

                		          			 <input
                		v-validate="'required'"
                		v-model="tradingname"
               			data-vv-as="Trading Name"
                		name="tradingname"
                		type="text"
                		placeholder="Trading Name"
                		class="form-control input-lg placeoffer">

                		<div class="row">

                		<div class="col-sm-12 col-lg-6">

                		          			 <input
                		v-validate="'required'"
                		v-model="registrationno"
               			data-vv-as="Registration No"
                		name="registrationno"
                		type="text"
                		placeholder="Registration No"
                		class="form-control input-lg placeoffer">

               

                	          			 <input
                		v-validate="'required'"
                		v-model="buildingname"
               			data-vv-as="Building Name"
                		name="buildingname"
                		type="text"
                		placeholder="Building Name"
                		class="form-control input-lg placeoffer">

               

                	          			 <input
                		v-validate="'required'"
                		v-model="streetno"
               			data-vv-as="Street No"
                		name="streetno"
                		type="text"
                		placeholder="Street Number"
                		class="form-control input-lg placeoffer">

                	</div>

                	<div class="col-sm-12 col-lg-6">

                		          			 <input
                		v-validate="'required'"
                		v-model="vat"
               			data-vv-as="Vat"
                		name="vat"
                		type="text"
                		placeholder="Vat No"
                		class="form-control input-lg placeoffer">

                		       		          			 <input
                		v-validate="'required'"
                		v-model="unitno"
               			data-vv-as="Unit No"
                		name="unitno"
                		type="text"
                		placeholder="Unit Number"
                		class="form-control input-lg placeoffer">

                		       		          			 <input
                		v-validate="'required'"
                		v-model="streetname"
               			data-vv-as="Street Name"
                		name="streetname"
                		type="text"
                		placeholder="Street Name"
                		class="form-control input-lg placeoffer">

                		</div>

    <div class="col-sm-12 ">

				<select id="inputModel" class="form-control custom-select spacer">
					<option selected>Country</option>
					<option>...</option>
				</select>

                <select id="inputModel" class="form-control custom-select spacer">
					<option selected>Province</option>
					<option>...</option>
				</select>

				<select id="inputModel" class="form-control custom-select spacer">
					<option selected>City</option>
					<option>...</option>
				</select>

								<select id="inputModel" class="form-control custom-select spacer">
					<option selected>Suburb</option>
					<option>...</option>
				</select>

      </div>

          </div>

				<div class="row">

					<div class="col-sm-12 col-md-6">

				                <input
                		v-validate="'required'"
                		v-model="postal"
               			data-vv-as="Postal Code"
                		name="postal"
                		type="text"
                		placeholder="Postal Code"
                		class="form-control input-lg placeoffer"> 

				                <button
                  :disabled="status==='submitting'"
                  class="btn btn-primary PObtn"
                  @click="send">Send</button>

              </div>
          </div>

						</div>
					</div>
            
          </div>
          <!-- end col -->
</div>

</section>

</div>
				</div><!-- /DetailsPage__Content -->



			</div><!-- /container -->
		</section><!-- /DetailsPage -->

			<section id="RecentlyAddedProp">
				<div class="RecentlyAdded FindResultOutput">
					<div class="container">
							<div class="row">
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
							</div>
						</div>
					</div>
					</section>


		<!-- @include includes/infobar.html -->
		<!-- @include includes/footer.html -->
		<!-- @include includes/scripts.html -->

		<script src="js/lightslider.min.js"></script>

				<script type="text/javascript">
$(document).ready(function(){
  $('#search').click(function(){
     $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#SearchButton').click(function(){
     $('#SearchForm').fadeToggle(350);
     $('#SearchButton').fadeToggle(0); 
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#closesearch').click(function(){
    $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

		<script>
			$(document).ready(function(){
				console.log('lock & load');
				$('.nav-item').removeClass('active');
				$('.nav-item--Home').addClass('active');
				$( ".active > a " ).append( '<span class="sr-only"> (current)</span>' );

				function reload_bsCollapse() {
					if($(window).width() <= 767) {
						$("#h1Toggler").attr({
							'data-toggle': 'collapse',
							'data-target': '#openRefineSearch'
						});
					} else {
						$("#h1Toggler").removeAttr('data-toggle data-target');
						$("#openRefineSearch").addClass('show');
					}
				}

				$(".DetailsAddToMyWatchlist").click(function(){
					$(this).toggleClass("DetailsAddedToWatchlist");
				});

				reload_bsCollapse();

				$(window).on("resize", function () {
					reload_bsCollapse();
				});

				var slider = $('#image-gallery').lightSlider({
					pauseOnHover: true,
					adaptiveHeight: true,
					gallery:true,
					item:1,
					thumbItem:4,
					slideMargin: 4,
					speed:500,
					pause: 5000,
					auto:true,
					loop:true,
					thumbMargin:4,
					responsive : [
					{
						breakpoint:1439,
						settings: {
							thumbItem:6,
						}
					},
					{
						breakpoint:991,
						settings: {
							thumbItem:4
						}
					}
					],
					onSliderLoad: function() {
						$('#image-gallery').removeClass('cS-hidden');
					}
				});

				$(window).on("resize", function () {
					slider.refresh();
				});

			});
		</script>
	</body>
</html>