<!-- @include includes/head-top.html -->
<title>Mowana Online | Rental 2</title>
<!-- @include includes/head-btm.html -->

		<section class="DetailsPage">
			<!-- @include includes/nav.html -->
						<!-- @include includes/headbanner.html -->

						<div id="mobilesearch" class="col-lg-12 mobilesearchbutton">
					<button id="search"  class="SearchFinderbutton hvr-grow"><img class="text-center" src="images/SearchBarIco.png"></button>
				</div>

			<div class="container" style="margin-top: 48px; margin-bottom: 48px;">
				<div class="DetailsPage__Content">
					<!-- @include includes/sfinderlogged.html -->

					<div class="VdBlock">

						<div class="VdBlockDetails" style="margin-top: 48px; ">
							<div class="VdSpecs d-flex justify-content-between">
									<div class="Card-Title-2">
										RENTAL
									</div><!-- /Card-Title -->
							
							</div><!-- VdSpecs -->
						</div><!-- /VdBlockDetails -->

						<section class="VdGalleryBlock">

							<div class="shareicons">
								<div class="row">

							<div class="col-sm-5 IconsAddToMyWatchlistAdd">
								<i class="fab fa-gratipay"></i><span class="Contact-Text-Title">Add to watchlist</span>
							</div>
							<div class="col-sm-2 IconsAddToMyWatchlistComp">
								<i class="fas fa-plus-circle"></i><span class="Contact-Text-Title">Compare</span>
							</div>
							<div class="col-sm-5 IconsAddToMyWatchlistShare">
								<i class="fas fa-share-alt"></i><span class="Contact-Text-Title">Share</span>
							</div>
						</div>

						</div>
							<ul id="image-gallery" class="gallery list-unstyled cS-hidden">
								<li data-thumb="images/vdimg1--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg1--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg1--lrg.png">
										<img src="images/vdimg1--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg2--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg2--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg2--lrg.png">
										<img src="images/vdimg2--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg3--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg3--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg3--lrg.png">
										<img src="images/vdimg3--big.png" alt="Gallery image" />
									</picture>
								</li>
								<li data-thumb="images/vdimg4--sml.png">
									<picture class="Obj-Fit__VdGSldr">
										<source media="(min-width: 1400px)" srcset="images/vdimg4--big.png">
										<source media="(min-width: 992px)" srcset="images/vdimg4--lrg.png">
										<img src="images/vdimg4--big.png" alt="Gallery image" />
									</picture>
								</li>
							</ul>
						</section><!-- Vd__GalleryBlock -->

<section>
	<div class="row">
	<div class="col-md-8">
	<button class="Regbutton hvr-grow">PLACE OFFER</button>
	<button class="Regbutton hvr-grow">REGISTER TENANT/BUYER</button>
</div>
<div class="col-md-4 text-right">
	<button class="Brochurebutton hvr-grow"><i class="fas fa-1x fa-download"></i>BROCHURE</button>
</div>
</div>
</section>

<section class="TabSection">


<ul class="nav nav-tabs">
  <li class="active TabDetails"><a class="TabText" data-toggle="tab" href="#description">DESCRIPTION</a></li>
  <li class="TabDetails"><a class="TabText" data-toggle="tab" href="#details">DETAILS</a></li>
  <li class="TabDetails"><a class="TabText" data-toggle="tab" href="#qanda">Q & A</a></li>
  <li class="TabDetails"><a class="TabText" data-toggle="tab" href="#documentation">DOCUMENTATION</a></li>
  <li class="TabDetails"><a class="TabText" data-toggle="tab" href="#video">VIDEO</a></li>
  <li class="TabDetails2"><a class="TabText" data-toggle="tab" href="#virtual">VIRTUAL TOUR</a></li>
</ul>

<div class="tab-content">
  <div id="description" class="tab-pane active">
   <!-- @include includes/tabcontentexample.html -->
  </div>
<div id="details" class="tab-pane">
   <!-- @include includes/tabcontentdetails.html -->
</div>
  <div id="qanda" class="tab-pane">
    <!-- @include includes/tabcontentexample2.html -->
  </div>
  <div id="documentation" class="tab-pane">
    <!-- @include includes/tabcontentexample.html -->
  </div>
    <div id="video" class="tab-pane">
    <!-- @include includes/tabcontentexample2.html -->
  </div>
  <div id="virtual" class="tab-pane">
    <!-- @include includes/tabcontentexample.html -->
  </div>
</div>

			
			</section>	

<section>
					 <hr class="spacer-40 no-border">

        <div class="row">

        			<div class="Card-Title-Message">
										Send a message
									</div><!-- /Card-Title -->

          <div class="col-sm-12 gForm new1">

            <div class="form-group">
              <input
                v-validate="'required'"
                v-model="name"
                data-vv-as="Name"
                name="name"
                type="text"
                placeholder="Full Name"
                class="form-control input-lg">
            </div>
            <div class="form-group">
              <input
                v-validate="'required|email'"
                v-model="email"
                data-vv-as="E-Mail"
                name="email"
                type="text"
                placeholder="Email Address"
                class="form-control input-lg">
            </div>
            <div class="form-group">
              <textarea
                v-validate="'required'"
                v-model="message"
                data-vv-as="Message"
                rows="6"
                name="message"
                placeholder="Message..."
                class="form-control input-lg"></textarea>
            </div>

            <div class="form-group">
              <vue-recaptcha
                ref="recaptcha"
                :sitekey="sitekey"
                @verify="onVerify"
                @expired="onExpired">
                <button
                  :disabled="status==='submitting'"
                  class="btn btn-primary"
                  @click="send">Send</button>
              </vue-recaptcha>

            </div>
          </div>
          <!-- end col -->
</div>

				</div><!-- /VdBlock -->
</section>
				</div><!-- /DetailsPage__Content -->



			</div><!-- /container -->
		</section><!-- /DetailsPage -->

			<section id="RecentlyAddedProp">
				<div class="RecentlyAdded FindResultOutput">
					<div class="container">
							<div class="row">
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
								<div class="col-lg-6 col-xl-4" style="display: inline-table;">
									<!-- @include includes/searchedcardresult.html -->
								</div><!-- /col -->
							</div>
						</div>
					</div>
					</section>


		<!-- @include includes/infobar.html -->
		<!-- @include includes/footer.html -->
		<!-- @include includes/scripts.html -->

		<script src="js/lightslider.min.js"></script>

				<script type="text/javascript">
$(document).ready(function(){
  $('#search').click(function(){
     $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#SearchButton').click(function(){
     $('#SearchForm').fadeToggle(350);
     $('#SearchButton').fadeToggle(0); 
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#closesearch').click(function(){
    $('#OfficeSearchFinder').fadeToggle(350); 
     $('#mobilesearch').fadeToggle(0);
  });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
$(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
});
</script>

		<script>
			$(document).ready(function(){
				console.log('lock & load');
				$('.nav-item').removeClass('active');
				$('.nav-item--Home').addClass('active');
				$( ".active > a " ).append( '<span class="sr-only"> (current)</span>' );

				function reload_bsCollapse() {
					if($(window).width() <= 767) {
						$("#h1Toggler").attr({
							'data-toggle': 'collapse',
							'data-target': '#openRefineSearch'
						});
					} else {
						$("#h1Toggler").removeAttr('data-toggle data-target');
						$("#openRefineSearch").addClass('show');
					}
				}

				$(".DetailsAddToMyWatchlist").click(function(){
					$(this).toggleClass("DetailsAddedToWatchlist");
				});

				$(".offerbutton").click(function() {
  $( ".offer" ).show( "slow" );
});

				reload_bsCollapse();

				$(window).on("resize", function () {
					reload_bsCollapse();
				});

				var slider = $('#image-gallery').lightSlider({
					pauseOnHover: true,
					adaptiveHeight: true,
					gallery:true,
					item:1,
					thumbItem:4,
					slideMargin: 4,
					speed:500,
					pause: 5000,
					auto:true,
					loop:true,
					thumbMargin:4,
					responsive : [
					{
						breakpoint:1439,
						settings: {
							thumbItem:6,
						}
					},
					{
						breakpoint:991,
						settings: {
							thumbItem:4
						}
					}
					],
					onSliderLoad: function() {
						$('#image-gallery').removeClass('cS-hidden');
					}
				});

				$(window).on("resize", function () {
					slider.refresh();
				});

			});
		</script>
	</body>
</html>